{% extends 'base.html.twig' %}

{% block title %}duck index{% endblock %}

{% block body %}

    <h1>duck index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>firstname</th>
            <th>lastname</th>
            <th>duckname</th>
            <th>email</th>
            <th>password</th>
        </tr>
        </thead>
        <tbody>
        {% for duck in ducks %}
            <tr>
                <td>{{ duck.id }}</td>
                <td>{{ duck.firstname }}</td>
                <td>{{ duck.lastname }}</td>
                <td>{{ duck.duckname }}</td>
                <td>{{ duck.email }}</td>
                <td>{{ duck.password }}</td>

                <td>
                    <a href="{{ path('duck_show', {'id': duck.id}) }}">show</a>
{#                    <a href="{{ path('duck_edit', {'id': duck.id}) }}">edit</a>#}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('duck_new') }}">Create new</a>
{% endblock %}
